.note-container {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 150px;
    width: 30%;
    background-color: rgb(204, 233, 236);
}

.note-title {
    color: #333;
    font-weight: bold;
}

.note-content {
    color: #666;
}

.note-date {
    color: #999;
    font-size: 0.8rem;
}

.update-button {
    background-color: #647af8;
    /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: right;
}

.update-button:hover {
    background-color: #331cb8;
    /* Darker red */
}

.delete-button {
    background-color: #e75147;
    /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: right;
}

.delete-button:hover {
    background-color: #d32f2f;
    /* Darker red */
}